#content {

    ul {
        display: grid;
        grid-template-columns: auto 20% 20% 20% 20% auto;
        grid-template-areas: ". title title title title ."
            ". image image text text .";

        // border: 1px solid red;

        #title {
            // border: 1px solid green;
            grid-area: title;
            text-align: center;
            color: $orange;
            // margin-top: 10%;
            // padding-bottom: 50px;


            h2 {

                font-weight: 300;
                font-size: calc(4rem);
            }

        }

        #text {
            grid-area: text;
            font-weight: 300;
            font-size: calc(1.5rem);
            line-height: 1.5;
            padding-left: 95px;
            color: $darkorange;



            div {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                height: 800px;

                // border: 1px solid yellow;
            }
        }

        #imagec {

            align-items: center;
            background-size: cover;
            background-image: url('../img/content/image2.jpg');
            height: 800px;
            background-position: center;
 

            grid-area: image;




        }

        #boxes {

            grid-area: image;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url('../img/content/boxes.svg');
            height: 1500px;
            width: 100%;
            margin-top: -200px;
            margin-left: -50px;
        }


    }


}