#content {

    ul {
        display: grid;
        grid-template-columns: auto 20% 20% 20% 20% auto;
        grid-template-areas: ". title title title title ."
            ". image image text text .";
        margin-top: 50px;

        // border: 1px solid red;

        #title {
            // border: 1px solid green;
            grid-area: title;
            text-align: center;
            padding-bottom: 125px;
            color: $orange;


            h2 {

                font-weight: 300;
                font-size: calc(4rem);
            }

        }

        #text {
            grid-area: text;
            font-weight: 300;
            font-size: calc(1.5rem);
            line-height: 1.5;
            padding-left: 95px;
            color: $darkorange;



            div {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                height: 100%;

                // border: 1px solid yellow;
            }
        }

        #imagec {

            align-items: center;
            background-size: cover;
            background-image: url('../img/content/image2.jpg');
            height: 800px;
            background-position: center;
            z-index: 30;

            grid-area: image;

            z-index: 50;


        }

        #boxes-grid {

            display: grid;
            grid-template-columns: 30% auto;
            grid-template-areas: "boxes .";

            #box1 {
                grid-area: boxes;
                position: absolute;
                width: 10%;
                height: 1366px;
                left: 20vw;
                top: 926px;

                background: #7D2B1B;

                z-index: 20;
            }

            #box2 {
                grid-area: boxes;

                position: absolute;
                width: 35%;
                height: 1042px;
                left: 6vw;
                top: 1125px;

                border: 10px solid #C8BDB4;
                box-sizing: border-box;

                z-index: 22;
            }

            #box3 {
                grid-area: boxes;

                position: absolute;
                width: 35%;
                height: 971px;
                left: 2vw;
                top: 1158px;

                background: #B9542F;
                z-index: 21;
            }
        }


    }


}