

#preloader{
    position: fixed;
    height: 100vh;
    width: 102%;
    z-index: 1000;

    // border: 1px solid red;
    

        >svg{
            .hidden{
                    visibility: hidden;
                }
        }
    
}