/* =============
    Navigation
============= */
nav{
    height: 100%;
ul{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    // border: 1px solid black;
    li{
        margin-left: 7vw;
        a:link, a:visited{
                color: $offwhite;
                font-size: calc(1.2rem);
                font-weight: 300;
                transition: .2s;
            &:hover, &:active{
                color: $darkorange;
            }
        }
    }
}

}